<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>25DAF1D0-AD25-41A0-8A43-53E7197EC7FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D7BA7C5-57A9-4397-95BC-E25D10DD2E5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CDB4800-2D26-411E-9B21-8707DDCDF233</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C385C973-AE7B-4C75-9304-ECA4C7755F15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5918CACD-0EC0-49EA-A443-48F84B07EEAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5918CACD-0EC0-49EA-A443-48F84B07EEAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C2D2EA8-ABB3-4BB1-99F9-E96936CF717F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D7BA7C5-57A9-4397-95BC-E25D10DD2E5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6078F05C-C11B-4F11-B4EB-1EEFEDCAE29C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6078F05C-C11B-4F11-B4EB-1EEFEDCAE29C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CDB4800-2D26-411E-9B21-8707DDCDF233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62459BD4-E864-4ADB-A498-3D1839B0FA16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70ADBC50-D222-44B6-A604-92A79379A8C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>625E6904-A8C5-4062-9AD9-A39A97E0D1F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5918CACD-0EC0-49EA-A443-48F84B07EEAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A304DCF-ACFD-42E2-A203-D27A6940D8CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CDB4800-2D26-411E-9B21-8707DDCDF233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>835E78EE-BDF4-4F9C-AF71-25BC04EFEE24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25DAF1D0-AD25-41A0-8A43-53E7197EC7FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C2D2EA8-ABB3-4BB1-99F9-E96936CF717F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A304DCF-ACFD-42E2-A203-D27A6940D8CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ErBlack</string>
	<key>description</key>
	<string>Create todos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todoist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ев</string>
				<key>subtext</key>
				<string>в todoist</string>
				<key>text</key>
				<string>Добавить задачу</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>625E6904-A8C5-4062-9AD9-A39A97E0D1F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"6a2b8d70302ed66779210071e0c7def7f6e3de7b.png","title":"Work","arg":"2213071181","subtitle":"Работа"},{"imagefile":"6935c111301fa66a119ef1da2e1b8e7e4ccde36f.png","title":"Life","arg":"2254947727","subtitle":"Жизнь"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create todo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>8C2D2EA8-ABB3-4BB1-99F9-E96936CF717F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>content</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5918CACD-0EC0-49EA-A443-48F84B07EEAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6A304DCF-ACFD-42E2-A203-D27A6940D8CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>td</string>
				<key>subtext</key>
				<string>в todoist</string>
				<key>text</key>
				<string>Добавить задачу</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.bash_profile

./bin/todoister.js -p "$project" -c "`./bin/prepareContent.js`" -d today -t ${tag}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2CDB4800-2D26-411E-9B21-8707DDCDF233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>C385C973-AE7B-4C75-9304-ECA4C7755F15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"atreger","arg":"2156694453","subtitle":""},{"title":"plotnikov-ep","arg":"2156694895","subtitle":""},{"title":"utterstep","arg":"2156695077","subtitle":""},{"title":"lastenlol","arg":"2156786603","subtitle":""},{"title":"fgsfds","arg":"2157339951","subtitle":""},{"title":"mkopylov19","arg":"2157018138","subtitle":""},{"title":"midyac","arg":"2157018627","subtitle":""},{"title":"alexkuzn","arg":"2157050964","subtitle":""},{"title":"pushkinss","arg":"2157361786","subtitle":""},{"title":"svipy","arg":"2157483331"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Обсудить с</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>5D7BA7C5-57A9-4397-95BC-E25D10DD2E5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>talk</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Обсудить</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>835E78EE-BDF4-4F9C-AF71-25BC04EFEE24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>content</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>25DAF1D0-AD25-41A0-8A43-53E7197EC7FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>2213071181</string>
					<key>tag</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6078F05C-C11B-4F11-B4EB-1EEFEDCAE29C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>"/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code" .</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70ADBC50-D222-44B6-A604-92A79379A8C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>editttodo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Edit todo workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62459BD4-E864-4ADB-A498-3D1839B0FA16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>25DAF1D0-AD25-41A0-8A43-53E7197EC7FA</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>2CDB4800-2D26-411E-9B21-8707DDCDF233</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>5918CACD-0EC0-49EA-A443-48F84B07EEAA</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>5D7BA7C5-57A9-4397-95BC-E25D10DD2E5B</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>6078F05C-C11B-4F11-B4EB-1EEFEDCAE29C</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>62459BD4-E864-4ADB-A498-3D1839B0FA16</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>625E6904-A8C5-4062-9AD9-A39A97E0D1F0</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>6A304DCF-ACFD-42E2-A203-D27A6940D8CA</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>70ADBC50-D222-44B6-A604-92A79379A8C6</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>835E78EE-BDF4-4F9C-AF71-25BC04EFEE24</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>8C2D2EA8-ABB3-4BB1-99F9-E96936CF717F</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>C385C973-AE7B-4C75-9304-ECA4C7755F15</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Debug output</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
