<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2CC00875-52B0-405F-9DBC-57F11BD17804</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AAF6207-6D8A-4FBD-BFCC-B76732C78C01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CDB4800-2D26-411E-9B21-8707DDCDF233</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C385C973-AE7B-4C75-9304-ECA4C7755F15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AABFEAC6-9259-40A2-AE98-57056554B220</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5918CACD-0EC0-49EA-A443-48F84B07EEAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5918CACD-0EC0-49EA-A443-48F84B07EEAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C2D2EA8-ABB3-4BB1-99F9-E96936CF717F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62459BD4-E864-4ADB-A498-3D1839B0FA16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70ADBC50-D222-44B6-A604-92A79379A8C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>625E6904-A8C5-4062-9AD9-A39A97E0D1F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5918CACD-0EC0-49EA-A443-48F84B07EEAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A304DCF-ACFD-42E2-A203-D27A6940D8CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CDB4800-2D26-411E-9B21-8707DDCDF233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C2D2EA8-ABB3-4BB1-99F9-E96936CF717F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A304DCF-ACFD-42E2-A203-D27A6940D8CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AABFEAC6-9259-40A2-AE98-57056554B220</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA951A2-E652-4182-A868-DA12DF063E12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>01624EC4-1A02-404C-BBF1-4D7E3EABB760</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1184C47-CAAA-4141-A34F-189D48D7B82E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>91B0F638-BA11-4AA4-A9C6-9E6DF10FB019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C385C973-AE7B-4C75-9304-ECA4C7755F15</key>
		<array/>
		<key>F857A44F-ABC3-4C16-94B6-12952E12F111</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0497652F-244E-422B-A223-4633FF2A8C4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ErBlack</string>
	<key>description</key>
	<string>Create todos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todoist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ев</string>
				<key>subtext</key>
				<string>в todoist</string>
				<key>text</key>
				<string>Добавить задачу</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>625E6904-A8C5-4062-9AD9-A39A97E0D1F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>C385C973-AE7B-4C75-9304-ECA4C7755F15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:content}</string>
				<key>title</key>
				<string>👍 Задача добавлена</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BBA951A2-E652-4182-A868-DA12DF063E12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"6a2b8d70302ed66779210071e0c7def7f6e3de7b.png","title":"Work","arg":"2213071181","subtitle":"Работа"},{"imagefile":"6935c111301fa66a119ef1da2e1b8e7e4ccde36f.png","title":"Life","arg":"2254947727","subtitle":"Жизнь"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create todo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>8C2D2EA8-ABB3-4BB1-99F9-E96936CF717F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>content</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5918CACD-0EC0-49EA-A443-48F84B07EEAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6A304DCF-ACFD-42E2-A203-D27A6940D8CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>td</string>
				<key>subtext</key>
				<string>в todoist</string>
				<key>text</key>
				<string>Добавить задачу</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.zprofile

./bin/todoister.js -p "$project" -c "`./bin/prepareContent.js`" -d today -t ${tag}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2CDB4800-2D26-411E-9B21-8707DDCDF233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>failed_tasks.txt</string>
				<key>filetext</key>
				<string>{datetime:short}:
message: {query}
content: {var:content}
project: {var:project}
tag: {var:tag}

</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>E1184C47-CAAA-4141-A34F-189D48D7B82E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>SUCCESS</string>
						<key>outputlabel</key>
						<string>👍</string>
						<key>uid</key>
						<string>01624EC4-1A02-404C-BBF1-4D7E3EABB760</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>👎</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AABFEAC6-9259-40A2-AE98-57056554B220</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.zprofile

echo start

./bin/todoister.js synctoday -f "/Users/ertema/Yandex.Disk.localized/Lambda/daily/$(date +"%Y-%m-%d").md"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AAF6207-6D8A-4FBD-BFCC-B76732C78C01</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tds</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sync today tasks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CC00875-52B0-405F-9DBC-57F11BD17804</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🚨 Не удалось добавить задачу</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>91B0F638-BA11-4AA4-A9C6-9E6DF10FB019</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>"/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code" .</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70ADBC50-D222-44B6-A604-92A79379A8C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>editttodo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Edit todo workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62459BD4-E864-4ADB-A498-3D1839B0FA16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>todorepare</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Открыть несохранённые задачи</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F857A44F-ABC3-4C16-94B6-12952E12F111</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>failed_tasks.txt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0497652F-244E-422B-A223-4633FF2A8C4F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>0497652F-244E-422B-A223-4633FF2A8C4F</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>2CC00875-52B0-405F-9DBC-57F11BD17804</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>2CDB4800-2D26-411E-9B21-8707DDCDF233</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>5918CACD-0EC0-49EA-A443-48F84B07EEAA</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>62459BD4-E864-4ADB-A498-3D1839B0FA16</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>625E6904-A8C5-4062-9AD9-A39A97E0D1F0</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>6A304DCF-ACFD-42E2-A203-D27A6940D8CA</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>70ADBC50-D222-44B6-A604-92A79379A8C6</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>8AAF6207-6D8A-4FBD-BFCC-B76732C78C01</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>8C2D2EA8-ABB3-4BB1-99F9-E96936CF717F</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>91B0F638-BA11-4AA4-A9C6-9E6DF10FB019</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>AABFEAC6-9259-40A2-AE98-57056554B220</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>BBA951A2-E652-4182-A868-DA12DF063E12</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>C385C973-AE7B-4C75-9304-ECA4C7755F15</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Debug output</string>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>E1184C47-CAAA-4141-A34F-189D48D7B82E</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>F857A44F-ABC3-4C16-94B6-12952E12F111</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
